<%- include ('partials/_header')  %>
<div class="container">
    <div class=row>
        <div class="col-md-20">
            <div class="card">
                <div class="card-body">
                    <form action="/update_publicacion/<%=publi.id%>" method="post">
                        <div class="form-group">
                            <input type="hidden" name="id_usuarios" placeholder="id_usuarios" class="form-control" value="<%=publi.id_usuarios%>">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="username" placeholder="username" class="form-control" value="<%=publi.username%>">
                        </div>
                       
                        <div class="form-group">
                            <input type="text" name="type_content" placeholder="Tipo de Contenido que subiras" class="form-control" value="<%=publi.type_content%>" required>
                        </div>
                        <div class="form-group">
                            <textarea name="content" placeholder="Contenido" class="form-control" rows="4" cols="50" required><%=publi.content%></textarea>
                        </div>
                        <button type="submit" class ="btn btn-primary">Subir publicacion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ('partials/_footer')  %>