<%- include ('partials/_header')  %>
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<header class="w3-container w3-center w3-padding-32"> 
    <h1><b>Foro</b></h1>
    <p>Bienvenido al foro<span class="w3-tag">KYAV Health</span></p>
</header>
<% if (Object.keys(data).length == 0){ %>
            
<% }else{ %>
<div class="container">
    <div class="col-md-18">
        <div class="card">
            <div class ="card-body">
                <form action="/add_publicacion" method="post">
                    <div class="form-group">
                        <input type="hidden" name="id_usuarios" placeholder="id_usuarios" class="form-control" value="<%=data.id%>">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="username" placeholder="username" class="form-control" value="<%=data.nickname%>">
                    </div>
                    <div class="form-group">
                        <input type="text" name="type_content" placeholder="Titulo" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <textarea name="content"  class="form-control" rows="4" cols="50" required></textarea>
                    </div>
                    
                    <button type="submit" class ="btn btn-primary">Subir publicacion</button>
                </form>
            </div>
        </div>
    </div> 
</div>
<% } %>
  <% if (publi){ %>
    <%for(var i = 0; i < publi.length; i++){ %>
<div class="w3-content" style="max-width:1400px">

    <!-- Header -->
    
    
    <!-- Grid -->
    <div class="w3-row">
    
    <!-- Blog entries -->
    <div class="w3-col 28 s12">
      <!-- Blog entry -->
      <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
          <h3><b><%= publi[i].type_content %></b></h3>
          <h5><span class="w3-opacity"><%= publi[i].username %></span></h5>
        </div>
    
        <div class="w3-container">
          <p><%= publi[i].content %></p>
          <div class="w3-row">
            <div class="w3-col m10 s12">
                <% if (Object.keys(data).length == 0){ %>
                 <% }else{ %>
                    <% if (data.type == "Adminstrador" || publi[i].id_usuarios == data.id){ %>
                    <a href="/delete_publicacion/<%= publi[i].id %>" class="btn btn-danger">Delete</a>
                    <a href="/update_publicacion/<%= publi[i].id %>" class="btn btn-info">Update</a>
                <%}%>
                <%}%>
            </div>
          </div>
        </div>
        
      </div>
      <hr>
      
    <!-- END BLOG ENTRIES -->
    </div>
    <!-- END Introduction Menu -->
    </div>
    <!-- END GRID -->
    </div><br>
    <!-- END w3-content -->
    </div>

    <%}%>
    <% } %>
    
<%- include ('partials/_footer')  %>